.featured__videos-title {
	margin-top: 149px;
	font-size: 64px;
	line-height: 80px;
	color: #1C2E3D;
	margin-bottom: 24px;
}

.featured__videos-descr {
	margin: 0 auto;
}

.slider-container .swiper-slide {
	position: relative;
	width: 890px;
	min-height: 550px;
	background: #e3e3e3;
	border-radius: 8px;
	transition: transform 0.3s;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}

.slider-container .swiper-slide::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
	opacity: 0;
	transition: opacity 0.3s;
}

.slider-container .swiper-slide-active {
	transform: scaleX(1.16) scaleY(1.2);
	transition: transform 0.3s;
}

.slider-container .swiper-slide-active::after {
	opacity: 1;
}

.slider-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 100px 0;
}

.featured__videos-descr {
	font-family: 'SFCompact', sans-serif;
	max-width: 634px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #788692;
}

.slider-container {
	width: 100%;
	overflow-x: hidden;
}

.featured__videos {
	padding-bottom: 50px;
}

.slide-1 {
	background-image: url(../../img/featured-videos/video-feature-1.jpg) !important;
}

.slide-2 {
	background-image: url(../../img/featured-videos/video-feature-3.jpg) !important;
}

.slide-3 {
	background-image: url(../../img/featured-videos/video-feature-4.jpg) !important;
}

.slide-4 {
	background-image: url(../../img/featured-videos/video-feature-4.jpg) !important;
}

.slide-title {
	position: relative;
	z-index: 5;
	font-weight: 700;
	font-size: 32px;
	color: var(--white-color);
	margin-bottom: 40px;
	margin-left: 40px;
	transform: translateY(200px);
	transition: transform 0.3s;
}

.swiper-slide-active .slide-title {
	transform: translateY(0);
	transition: transform 0.3s;
}

.slider-container .slide-play {
	position: absolute;
	top: 40px;
	left: 48px;
	width: 112px;
	height: 112px;
	background-image: url(../../img/featured-videos/video-play.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateY(-200px);
	transition: transform 0.3s;
}

.swiper-slide-active .slide-play {
	transform: translateY(0);
	transition: transform 0.3s;
}

.swiper-slide video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
