.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header__container {
	justify-content: space-between;
	align-items: center;
	padding-top: 55px;
	padding-bottom: 55px;
}

.social {
	display: flex;
	align-items: center;
}

.social__link {
	display: block;
	background-repeat: no-repeat;
	transition: opacity 0.3s;
}

.social__link:hover {
	opacity: 0.75;
	transition: opacity 0.3s;
}

.social__item:not(:last-child) {
	margin-right: 40px;
}

.social__link--fb {
	background-image: url(/img/SVG/fb-icon.svg);
	width: 11px;
	height: 20px;
}

.social__link--tw {
	background-image: url(../../img/SVG/twitt-icon.svg);
	width: 19px;
	height: 20px;
	background-position: center;
}

.logo {
	font-weight: 800;
	font-size: 22px;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: var(--white-color);
	text-transform: uppercase;
}

.burger {
	width: 40px;
	height: 10px;
	position: relative;
}

.burger__line {
	width: 100%;
	height: 2px;
	background-color: var(--white-color);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: background-color 0.3s;
}

.burger:hover .burger__line {
	background-color: var(--accent-color);
	transition: background-color 0.3s;
}

.burger__line:last-child {
	top: auto;
	left: 0;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: var(--neptun-color);
	transition: left 0.3s;
}

.menu__nav {
	width: 100%;
	height: 100%;
}

.menu__list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
	padding: 30px 0;
	overflow-y: auto;
}

.menu__link {
	color: var(--white-color);
	display: inline-block;
	margin-bottom: 30px;
	transition: color 0.3s;
}

.menu__link:hover {
	color: var(--dark-color);
	transition: color 0.3s;
}

.menu__close {
	position: absolute;
	right: 10%;
	top: 10%;
	width: 40px;
	height: 40px;
}

.menu__close--line {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
	background-color: var(--white-color);
}

.menu__close--line:first-child {
	/* transform-origin: left top; */
	transform: rotate(45deg);
}

.menu__close--line:last-child {
	/* transform-origin: right top; */
	transform: rotate(-45deg);
}

.d-none {
	left: -150vw;
}

.d-show {
	left: 0;
	transition: left 0.3s;
}
