.inspirations {
	padding-top: 95px;
	padding-bottom: 140px;
}

.inspirations-descr {
	text-align: center;
	max-width: 634px;
	font-family: 'SFCompact', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
	margin-bottom: 96px;
	color: #788692;
}

.inspirations-title {
	margin-bottom: 25px;
}

.grid {
	display: grid;
}

.inspirations-list {
	grid-gap: 32px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(500px, auto);
}

.inspirations-item {
	position: relative;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.inspirations-item::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);
}

.insp-item__big {
	grid-column-end: span 2;
}

.insp-item--bigHeight {
	height: 710px;
}

.insp-item__1 {
	background-image: url(../../img/inspirations/insp-1.jpg);
}

.insp-item__2 {
	background-image: url(../../img/inspirations/insp-2.jpg);
}

.insp-item__3 {
	background-image: url(../../img/inspirations/insp-3.jpg);
}

.insp-item__4 {
	background-image: url(../../img/inspirations/insp-4.jpg);
}

.insp-item__5 {
	background-image: url(../../img/inspirations/insp-5.jpg);
}

.insp-item__6 {
	background-image: url(../../img/inspirations/insp-6.jpg);
}

.insp-item__7 {
	background-image: url(../../img/inspirations/insp-7.jpg);
}

.insp-text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	padding: 0 40px;
	padding-bottom: 47px;
}

.insp__category {
	font-size: 10px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	color: var(--white-color);
	display: inline-block;
	margin-bottom: 10px;
}

.insp-item__title {
	font-weight: 700;
	font-size: 32px;
	color: var(--white-color);
	margin-bottom: 25px;
}

.insp-item__people {
	display: flex;
}

.insp-item__people--img:not(:first-child) {
	margin-left: -15px;
}

.insp-item__people--img:first-child {
	z-index: 3;
}

.insp-item__people--img {
	overflow: hidden;
	border-radius: 100%;
	border: 4px solid var(--white-color);
	width: 48px;
	height: 48px;
	background-color: var(--white-color);
	position: relative;
}

.insp-item__2 .insp-item__people--img,
.insp-item__3 .insp-item__people--img,
.insp-item__6 .insp-item__people--img {
	border: 0.5px solid var(--white-color);
}

.insp-item__7 .insp-item__people--img {
	border: 0.2px solid var(--white-color);
}

.insp-item__people--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.insp-item__1
.insp-item__people--img:nth-child(2),
.insp-item__7
.insp-item__people--img:nth-child(2) {
	z-index: 5;
}

.insp-item__play {
	background-image: url(../../img/SVG/insp-item__play.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 16px;
	height: 20.57px;
}

.button-insp__play {
	position: absolute;
	left: 40px;
	top: 40px;
	border: 4px solid var(--white-color);
	border-radius: 50%;
	padding-top: 18px;
	padding-left: 23px;
	padding-bottom: 16px;
	padding-right: 20px;
	cursor: pointer;
}

.insp-item__link {
	position: absolute;
	right: 40px;
	top: 40px;
	background-color: rgba(10, 16, 20, 0.4);
	mix-blend-mode: normal;
	color: #ffffff;
	cursor: pointer;
}

.insp-item__link::before {
	opacity: 0.47;
	z-index: 5;
}

.insp-item__link--text {
	position: relative;
	z-index: 10;
}
